.post-image-container {
    margin-left: auto; 
    margin-right: auto; 
    width: 90vw;
    border-radius: 10%;
    background-color: var(--ion-color-secondary);
}

.post-image-button {
    position: absolute;
    display: flex;
    width: 16vw;
    height: 16vw;
    right: 8px;
    bottom: 8px;
    background-color: var(--ion-color-secondary);
    border-radius: 128px;
    border: 2px solid var(--ion-color-light);
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--ion-color-primary);
}