<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>EDIT POST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">
  <div *ngIf="viewReady">
  
    <!-- IMAGENES -->
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <div class="post-image-container" style="position: relative;">
            <div *ngIf="loadingImage">
              <spinner size="90vw"></spinner>
            </div>
            <div *ngIf="!loadingImage" (click)="imageOptions()">
              <img class="image" defaultImage="../assets/images/loading.gif" [lazyLoad]="getPostImage()">
            </div>

            <div class="post-image-button" *ngIf="!loadingImage">
              <file-input [documentRoute]="documentRoute" [singleImage]="true" (imageUploaded)="loadImage()"></file-input>
              <ion-icon name="share" color="light" style="font-size: 28px;"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> 

    <!-- TITULO -->
    <div class="cool-input-container">
      <ion-item color="primary" lines="none">
        <ion-input class="ion-text-capitalize cool-title" placeholder="Write Title" type="text" [(ngModel)]="post.title"></ion-input>
      </ion-item>
    </div>
  
    <!-- CONTENIDO -->
    <div class="cool-input-container">
      <ion-textarea 
      placeholder="Write Content"
      class="cool-text" 
      style="white-space: pre-wrap;"
      [(ngModel)]="post.content"
      style="height: 20vh;"></ion-textarea>
    </div>
  
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="updatePost()">
            Publish
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="deletePostConfirm()">
            Delete Post
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
