<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">
  <alert-card [alert]="alert"></alert-card>

  <ion-grid class="buttons-container" *ngIf="alert.state === 0">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="assignAlert()">
          VIEW IN MAP
        </ion-button>
      </ion-col>

      <ion-col *ngIf="isAdmin()" size="12" class="ion-text-center">
        <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="closeAlertConfirm()">
          CLOSE ALERT
        </ion-button>
      </ion-col>

      <ion-col *ngIf="isAdmin()" size="12" class="ion-text-center">
        <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="cancelAlertConfirm()">
          CANCEL ALERT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
