
<ion-menu contentId="sidemenu" type="overlay">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-card class="animate__bounceIn container-menu-image">
        <img class="menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="tilt">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="menu-container"> 
    <div class="menu-buttons-container">
      <ion-grid style="padding-top: 8px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center" *ngFor="let page of pages; index as i">
            <ion-menu-toggle auto-hide="false">
              <ion-button class="animate__animated menu-button" shape="round" fill="outline" lines="none" (click)="changeSelectedUrl(page.url)"
                [routerLink]="page.url" 
                routerDirection="root"
                [class.mb-active]="selectedUrl === page.url"
                [class.mb-deactive]="selectedUrl != page.url"
                [class.animate__heartBeat]="selectedUrl === page.url">
                <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
                <span class="ion-text-left" style="margin-right: auto;">{{page.text}}</span>
              </ion-button>
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="l-lines" style="top: 0;"></div>
    <div class="r-lines" style="top: 0;"></div>
  </ion-content>

  <ion-footer class="ion-no-border footer">
    <ion-menu-toggle auto-hide="false">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5" style="margin: 0; padding: 0;">
            <ion-button class="account-button" shape="round" fill="clear" lines="none" routerLink="/menu/account">Cuenta</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="5" style="margin: 0; padding: 0;">
            <div *ngIf="isAdmin()">
              <ion-button class="account-button" shape="round" fill="clear" lines="none" routerLink="/menu/configuration">Opciones</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-menu-toggle>

    <div class="l-lines" style="bottom: 12px;"></div>
    <div class="r-lines" style="bottom: 12px;"></div>
    <div class="b-lines" style="bottom: 12px;"></div>
    <div style="height: 12px;"></div>
  </ion-footer>

</ion-menu>


<ion-router-outlet id="sidemenu"></ion-router-outlet>
