<!-- HEADER -->
<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>ACCOUNT</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header> -->

<ion-content class="cool-content">

  <div *ngIf="viewReady">

    <div class="settings-button" *ngIf="isAdmin()">
      <icon-button name="settings" routerLink="/tabs/account/options"></icon-button>
    </div>

    <ion-grid style="margin-top: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <div class="avatar" style="position: relative;">
            <div *ngIf="loadingProfilePic">
              <spinner size="50vw"></spinner>
            </div>
            <div *ngIf="!loadingProfilePic" (click)="imageOptions()">
              <img class="avatar-image" defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage()">
            </div>

            <div class="profile-pic-button" *ngIf="!loadingProfilePic">
              <file-input [documentRoute]="documentRoute" [singleImage]="true" (imageUploaded)="loadProfilePic()"></file-input>
              <ion-icon name="pencil" color="light" style="font-size: 28px;"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> 

    <!-- USERNAME -->
    <ion-item color="primary" lines="none">
      <ion-icon slot="start" name="person" color="light"></ion-icon>
      <ion-input type="text" placeholder="Write Username" [(ngModel)]="user.username"></ion-input>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item color="primary" lines="none">
      <ion-icon slot="start" name="mail" color="light"></ion-icon>
      <ion-label>{{user.email}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>

    <!-- PHONE -->
    <ion-item color="primary" lines="none">
      <ion-icon slot="start" name="call" color="light"></ion-icon>
      <ion-input type="text" placeholder="Write Phone Number" [(ngModel)]="user.phone"></ion-input>
    </ion-item>

    <div class="cool-line"></div>

    <!-- ADDRESS -->
    <!-- <ion-item lines="none">
      <ion-icon slot="start" name="home" color="#fff"></ion-icon>
      <ion-input type="text" placeholder="Escribe Direccion" [(ngModel)]="user.address"></ion-input>
    </ion-item>

    <div class="cool-line"></div> -->

    <!-- ROLE -->
    <ion-item color="primary" lines="none">
      <ion-icon slot="start" name="flame" color="light"></ion-icon>
      <ion-label>{{'Role: '+ getRoleText()}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>

    <!-- GUARD TITLES -->
    <div *ngIf="isControlUser()">
      <br><br>
      <ion-item color="primary" lines="none">
        <ion-text class="cool-title">Guard Titles</ion-text>
        <ion-icon slot="end" name="shield" color="light"></ion-icon>
      </ion-item>
  
      <ion-item color="primary" lines="none" style="position: relative; padding: 8px;">
        <ion-input class="ion-text-capitalize" type="text" placeholder="Write Title" [(ngModel)]="title"></ion-input>
  
        <div style="position: absolute; right: 8px; z-index: 1000;">
          <icon-button 
            name="add" 
            color="secondary" 
            iconColor="light" 
            size="40px"
            iconSize="24px"
            [disabled]="title === ''" 
            (pressed)="addTitle()"></icon-button>
        </div>
      </ion-item>
  
      <div *ngIf="user.titles">
        <ion-item color="primary" *ngFor="let title of user.titles" style="position: relative;">
          <ion-text class="ion-text-capitalize cool-text">{{title}}</ion-text>    
          
          <div style="position: absolute; right: 8px; z-index: 1000;">
            <icon-button 
              name="remove" 
              color="primary" 
              iconColor="light" 
              size="40px"
              iconSize="24px"
              (pressed)="removeTitle(title)"></icon-button>
          </div>
        </ion-item>
      </div>
  
      <!-- GUARD DESCRIPTION -->
      <br><br>
      <ion-item color="primary" lines="none">
        <ion-text class="cool-title">Guard Description</ion-text>
        <ion-icon slot="end" name="star" color="light"></ion-icon>
      </ion-item>
  
      <div class="cool-input-container">
        <ion-textarea 
        placeholder="Write Description"
        class="cool-text" 
        style="white-space: pre-wrap;"
        [(ngModel)]="user.description"
        style="height: 15vh;"></ion-textarea>
      </div>
    </div>

    <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="saveAccountChanges()">
            SAVE CHANGES
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="logOut()">LOG OUT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </div>
  
</ion-content>
