.grid {
    padding: 10% 10% 0 10%;
}

.avatar {
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
}

.avatar-image {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
}

.profile-pic-button {
    position: absolute;
    display: flex;
    width: 20%;
    height: 20%;
    right: 8px;
    bottom: 8px;
    background-color: var(--ion-color-secondary);
    border-radius: 128px;
    border: 2px solid var(--ion-color-light);
    align-items: center;
    justify-content: center;
}

.settings-button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
}
