<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACTO</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu/cart" color="light">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- TELEFONOS -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>Telefonos</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let phone of getData()?.phones">
          <ion-button class="cool-button" shape="round" color="secondary" lines="none" (click)="dataService.callConfirm(phone.number)">
            <div class="cool-text">
              <ion-text style="color: black;">{{phone.number}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none">
      <ion-card-content>
        {{getData()?.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="#fff"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      [src]="getMapUrl()"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->

  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <!-- AQUI AGREGAR ITEM DE CORREO -->

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let socialNetwork of getData()?.socialNetworks">
          <ion-button class="cool-button" shape="round" color="secondary" lines="none" (click)="dataService.openLink(socialNetwork.link)">
            <ion-icon slot="start" [name]="socialNetwork.icon" color="#000"></ion-icon>
            <div class="cool-text">
              <ion-text style="color: black;">{{socialNetwork.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
