<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button *ngIf="isControlUser()" tab="alerts">
      <ion-icon name="rocket"></ion-icon>
      <!-- <ion-label>Alerts</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="security" (click)="securityClick()">
      <ion-icon [color]="getColor()" name="shield-half"></ion-icon>
      <!-- <ion-label>Security</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>Account</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="help-circle"></ion-icon>
      <!-- <ion-label>Contact</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
