ion-tab-bar {
    height: 80px; 
    padding-bottom: 8px;

    ion-icon {
        font-size: 32px;
    }

    ion-tab-button[aria-selected=true] {
        border-top: solid var(--ion-color-tertiary);
        border-width: 2px;
    }
}