/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.cool-content { 
    --background: var(--ion-color-primary); 
}

//General
.floating-button {
    position: fixed;
    z-index: 100;
    background-color: var(--ion-color-primary); 
    width: 52px;
    height: 52px;
    top: 0px;
    text-align: center;
}

.image {
    background-color: #fff; 
    width: 100%; height: 120px; 
    object-fit: cover;
}

.slider {
    //background-color: var(--ion-color-primary); 
    --bullet-background: #383a3e; 
    --bullet-background-active: var(--ion-color-secondary); 
    // height: 360px;
}

.cool-card {
    --ion-background-color: var(--ion-color-secondary);
    border-radius: 12px;
    //border-width: 1px; 
    // border-color: var(--ion-color-secondary);
    // border-style: solid;
    box-shadow: none;

    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: var(--ion-color-light);
    }

    ion-item {
        font-size: 16px;
        color: var(--ion-color-light);
        --background: var(--ion-color-secondary);
    }

    ion-label {
        font-size: 16px;
        color: var(--ion-color-light);
    }

    ion-card-content {
        font-size: 16px;
        color: var(--ion-color-light);
        //background: var(--ion-color-primary);
    }
}

.cool-item {
    --color: #fff; 
    --background: var(--ion-color-tertiary);
    font-size: 16px;
}

.cool-line {
    border-width: 1px; 
    border-style: solid; 
    border-color: var(--ion-color-light);
    border-top: transparent;
}

.full-image {
    width: 100%; 
    object-fit: cover;
}

img {
    display: block;
}

.cool-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    color: var(--ion-color-light);
}

.cool-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.cool-text {
    font-size: 16px;
    color: var(--ion-color-light);
}

.cool-secondary-text {
    font-size: 16px;
    color: var(--ion-color-secondary);
}

.cool-input-container {
    box-shadow: none; 
    border-width: 1px; 
    border-style: solid;
    border-color: var(--ion-color-light);
    border-radius: 8px;
    margin: 8px;
    padding: 2px;
}

.cool-button {
    --background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 90%;
    text-transform: none;
}

.cool-alert {
    --background: var(--ion-color-tertiary);
    --color: #ffffff !important;
}

.cool-loading {
    --background: var(--ion-color-secondary);
    color: #fff;
}

.cool-range {
    margin: 0;
    padding: 24px;
    height: 32px;
}

.cool-border {
    margin: 8px 12px; 
    padding: 16px 20px; 
    border: 1px solid white;
    border-radius: 8px;
}

//ANIMATIONS -------------------------------------------------
.animate__animated {
    --animate-duration: 600ms;
}

img.ng-lazyloaded {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

// MAP --------------------------------------------------------
.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    background-color: var(--ion-color-primary);
    background: var(--ion-color-primary);
}

.gm-style-iw-c {
    padding-top: 40px !important;
    padding-bottom: 24px !important;
}

.gm-ui-hover-effect {
    // display: none !important;
    border-radius: 30% !important;
    background-color: white !important;
    background: white !important;
    opacity: 1 !important;
    top: 2px !important;
    left: 2px !important;
}

.gmnoprint {
    display: none !important;
}