<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CUENTA</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div class="animate__animated animate__fadeInLeft" *ngIf="userReady">

    <ion-grid style="margin-top: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <div class="avatar">
            <img src="../assets/images/user.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> 
  
    <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0;">

      <!-- USERNAME -->
      <ion-item lines="none">
        <ion-icon slot="start" name="person" color="#fff"></ion-icon>
        <ion-input type="text" [(ngModel)]="firebaseService.userData.username"></ion-input>
      </ion-item>

      <div class="cool-line"></div>
  
      <ion-item lines="none">
        <ion-icon slot="start" name="mail" color="#fff"></ion-icon>
        <ion-label>{{firebaseService.userData.email}}</ion-label>
      </ion-item>

      <div class="cool-line"></div>

      <!-- PHONE -->
      <ion-item lines="none">
        <ion-icon slot="start" name="call" color="#fff"></ion-icon>
        <ion-input type="text" placeholder="Escribe Telefono" [(ngModel)]="firebaseService.userData.phone"></ion-input>
      </ion-item>

      <div class="cool-line"></div>

      <!-- ADDRESS -->
      <ion-item lines="none">
        <ion-icon slot="start" name="home" color="#fff"></ion-icon>
        <ion-input type="text" placeholder="Escribe Direccion" [(ngModel)]="firebaseService.userData.address"></ion-input>
      </ion-item>

      <div class="cool-line"></div>

      <!-- LOCATION -->
      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="getCurrentLocation()">
              Definir Ubicacion
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" [disabled]="!isRoutingAvailable()" (click)="viewUserLocation()">
              Ver Ubicacion Asignada
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="cool-line"></div>

      <!-- ROLE -->
      <ion-item lines="none">
        <ion-icon slot="start" name="flame" color="#fff"></ion-icon>
        <ion-label>{{'Rol: '+ getRoleText()}}</ion-label>
      </ion-item>
  
      <div class="cool-line"></div>

      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="logout()">Cerrar Sesion</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="saveAccountChanges()">
              Guardar Cambios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
  
    </ion-card>

  </div>
  
</ion-content>
