.logo {
    position: absolute;
    left: 20%;
    width: 60%;
    top: -25%;
}

.cool-content {
    --background: linear-gradient(to bottom, #ffe22c, #cfd81d, #9fcb1b, #6dbe24, #2caf30);
}

.input {
    color: black;
    //border-color: var(--ion-color-secondary);
    //border-style: solid;
    border-radius: 32px;
    --color: var(--ion-color-tertiary);
    margin-top: 8px;
    margin-bottom: 8px;
}

.grid {
    padding: 10% 10% 0 10%;
}

.footer {
    background-color: var(--ion-color-primary);
}

ion-icon {
    color: #111111;
}