.avatar {
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
    margin-bottom: 16px;
}

.avatar-image {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
}

.alert-card-container {
    margin-top: 24px;
    padding: 8px;
}