<div class="alert-card-container">
  <div class="avatar" style="position: relative;">
    <!-- <img defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage()"> -->
    <img class="avatar-image" [src]="getUserImage()">
  </div>

  <ion-item color="primary">
    <ion-icon name="calendar" slot="start"></ion-icon>
    Creation Date: {{getDateText(alert.creationDate)}}
  </ion-item>

  <ion-item *ngIf="isClosed()" color="primary">
    <ion-icon name="calendar" slot="start"></ion-icon>
    Closed Date: {{getDateText(alert.closedDate)}}
  </ion-item>

  <ion-item color="primary">
    <ion-icon name="shield-half" slot="start"></ion-icon>
    State: {{getStateText(alert.state)}}
  </ion-item>

  <ion-item color="primary">
    <ion-icon name="alert-circle" slot="start"></ion-icon>
    Level: {{getLevelText()}}
  </ion-item>

  <ion-item color="primary">
    <ion-icon name="person" slot="start"></ion-icon>
    Created by: {{alert.user.email + " (" + alert.user.username + ")"}}
  </ion-item>
</div>
