<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>EDIT USER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">
  <!-- <ion-button color="secondary" (click)="createGuard()">
    {{user.email + " ASSIGN GUARD ROLE"}}
  </ion-button> -->

  <div *ngIf="viewReady">

    <user-card [user]="user" [callButton]="true"></user-card>

    <br><br>
    <ion-item color="primary" lines="none">
      <!-- <ion-icon slot="start" name="flame" color="light"></ion-icon> -->
      <ion-text class="cool-title">
        Assign Roles
      </ion-text>
    </ion-item>

    <div class="cool-line"></div>

    <div *ngFor="let role of roles">
      <ion-item color="primary" *ngIf="role.text !== 'user'">
        <ion-text class="ion-text-capitalize cool-text">
          {{role.text}}
        </ion-text>
        <ion-toggle slot="end" color="light" [(ngModel)]="role.active"></ion-toggle>
      </ion-item>
    </div>

    <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="updateUser()">
            SAVE CHANGES
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </div>

</ion-content> 
