.spinner-container {
    position: relative;
    background-color: var(--ion-color-primary);
    border-color: var(--ion-color-tertiary);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.spinner {
    position: absolute; 
    width: 80% !important; 
    height: 80% !important;
    top: 10%; 
    left: 10%;
}