<ion-content class="cool-content">
    <div *ngIf="isViewReady()">

        <ion-card *ngFor="let post of getLoadedPosts()" class="cool-card" (click)="updatePost(post)">
            <div *ngIf="isPostEmpty(post)">
                <ion-item lines="none" class="ion-text-center">
                    <ion-text class="cool-title">EMPTY POST</ion-text>
                </ion-item>
            </div>

            <div style="width: 100%;">
                <div *ngIf="post.images.length > 0">
                    <img defaultImage="../assets/images/loading.gif" [lazyLoad]="post.images[0]"
                        style="width: 100%; height: 100%; object-fit: fill;">                    
                </div>

                <div *ngIf="post.images.length > 0 && post.title !== '' && post.content !== ''" class="cool-line"></div>

                <div *ngIf="post.title !== '' && post.content !== ''" style="margin-bottom: 32px;">                    
                    <ion-item lines="none">
                        <ion-text class="ion-text-capitalize cool-title">{{post.title}}</ion-text>
                    </ion-item>


                    <ion-item lines="none">
                        <ion-card-content [innerHtml]="post.content"></ion-card-content>
                    </ion-item>
                </div>
            </div>
        </ion-card>
        
        <ion-infinite-scroll threshold="0" (ionInfinite)="loadData($event)" style="padding-bottom: 10vh;">
            <ion-infinite-scroll-content class="loading-spinner" loadingSpinner="crescent">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <div *ngIf="allPostsLoaded" 
        style="width: 100%; position: relative; height: 48px;">
            <div style="position: absolute; left: calc(50% - 24px)">
                <icon-button name="arrow-up" (pressed)="scrollToTop()"></icon-button>
            </div>
        </div>

        <!-- CREATE POST -->
        <div *ngIf="isAdmin()"
        style="position: fixed; right: 16px; bottom: 8px;">
            <icon-button name="add" (click)="createPost()">
                CREATE POST
            </icon-button>
        </div>
    </div>

</ion-content>