.map {
    width: 100%;
    height: 100%;
    position: relative;
}

agm-map {
    width: 100vw;
    height: 100%;
    position: absolute;
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.agmiw-buttons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    width: 100%;
}

// a[href^="https://www.google.com/intl/es-ES_US/help/terms_maps"],
// a[href^="https://www.google.com/maps/@51.678418,7.809007,8z?hl=es-ES"],
// a[href^="https://www.google.com/maps/@51.678418,7.809007,8z/data=!10m2!1e3!2e10!12b1?rapsrc=apiv3"] {
//     pointer-events: none !important;
// }

// a[href^="http://maps.google.com/maps"],a[href^="https://maps.google.com/maps"] {
//     display: none !important;
// }