<ion-content class="cool-content">
  <!-- <div class="back-button">
    <ion-button color="secondary">
      Activate: {{bmActivate}}
    </ion-button> <br>
    <ion-button color="secondary">
      Deactivate: {{bmDeactivate}}
    </ion-button>
  </div> -->

  <div *ngIf="!mapReady" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
    <spinner size="80vw"></spinner>
  </div>

  <div class="map" *ngIf="mapReady">
    <agm-map id="map" 
      [styles]="mapStyle"
      [latitude]="center[0]" 
      [longitude]="center[1]" 
      [zoom]="17"
      (mapReady)="onMapReady($event)">

      <!-- CURRENT USER MARKER -->
      <agm-marker
      [latitude]="userLocation[0]" 
      [longitude]="userLocation[1]"
      [iconUrl]="userIcon">
        <!-- <agm-info-window>
          Que Hongo Pa {{userLocation[0] + ", " + userLocation[1]}}
        </agm-info-window> -->
      </agm-marker>
    
      <div *ngIf="markersReady">
        <!-- GUARDS MARKER -->
        <div *ngFor="let user of usersAround;">
          <agm-marker 
            *ngIf="isGuard(user)" 
            [latitude]="user.location[0]" 
            [longitude]="user.location[1]"
            [iconUrl]="getGuardIcon(getGuard(user.id))">

            <agm-info-window>
              <!-- <user-card imageSize="30vw" [user]="getGuard(user.id)"></user-card> -->

              <ion-item lines="none" color="primary">
                <ion-avatar slot="start">
                  <img defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage(getGuard(user.id))">
                </ion-avatar>
        
                <ion-text class="cool-text">
                  {{getGuard(user.id).username}}
                </ion-text>
              </ion-item>

              <div class="cool-line"></div>

              <ion-item color="primary" lines="none">
                <ion-icon slot="start" name="car" color="light"></ion-icon>
                <ion-text class="cool-text">{{getDistanceText(user.distance)}}</ion-text>
              </ion-item>
              
              <div class="cool-line"></div>

              <br>
              <div class="agmiw-buttons">
                <ion-button class="cool-button" size="small" shape="round" fill="outline" color="light" (click)="viewUser(getGuard(user.id))">
                  View Guard
                </ion-button> 

                <ion-button class="cool-button" size="small" shape="round" fill="outline" color="light" (click)="startRoute(user)">
                  Start Route
                </ion-button>
              </div>
            </agm-info-window>
          </agm-marker>
        </div>

        <!-- ALERT ASSIGNED MARKER (GUARD ONLY) -->
        <div *ngIf="alertAssigned() && alertUser">
          <agm-marker
              [latitude]="alertUser.location[0]" 
              [longitude]="alertUser.location[1]"
              [iconUrl]="getAlertIcon()">
  
            <agm-info-window>
              <!-- <user-card imageSize="30vw" [user]="alertUser"></user-card> -->

              <ion-item lines="none" color="primary">
                <ion-avatar slot="start">
                  <img defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage(alertUser)">
                </ion-avatar>
        
                <ion-text class="cool-text">
                  {{alertUser.username}}
                </ion-text>
              </ion-item>

              <div class="cool-line"></div>

              <ion-item color="primary" lines="none">
                <ion-icon slot="start" name="car" color="light"></ion-icon>
                <ion-text class="cool-text">{{getDistanceText(alertUser.distance)}}</ion-text>
              </ion-item>
              
              <div class="cool-line"></div>

              <br>
              <div class="agmiw-buttons">
                <ion-button class="cool-button" size="small" shape="round" fill="outline" color="light" (click)="viewUser(alertUser)">
                  View User
                </ion-button> 

                <ion-button class="cool-button" size="small" shape="round" fill="outline" color="light" (click)="startRoute(alertUser)">
                  Start Route
                </ion-button>
              </div>
            </agm-info-window>
          </agm-marker>
        </div>
      </div>

      <!-- <div *ngIf="guards.length > 0 && directionReady">
        <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="directionRenderOptions"></agm-direction>
      </div> -->
    </agm-map>
  </div>
</ion-content>
