<ion-content class="cool-content">
  <div *ngIf="!alertActive()">
    <div class="alert-button-container">
      <div style="margin-top: 10vh;">
        <alert-button progress="0" size="300" text="ALERT" (pressed)="createAlert(2)"></alert-button>
      </div>

      <ion-button class="cool-button mg-button" shape="round" fill="outline" color="warning" (click)="createAlertConfirm()">
        MEET UP
      </ion-button>
    </div>

    <div style="position: absolute; right: 16px; bottom: 16px;">
      <icon-button 
        name="map" 
        color="secondary" 
        iconColor="light" 
        size="64px"
        iconSize="40px" 
        routerLink="/tabs/security/map"></icon-button>
    </div>

  </div>
  
  <div *ngIf="alertActive() && viewReady">

    <div *ngIf="alert">
      <alert-card [alert]="alert"></alert-card>
    </div>

    <ion-grid class="buttons-container">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" routerLink="/tabs/security/map">
            OPEN IN MAP
          </ion-button>
        </ion-col>
  
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="closeAlertConfirm()">
            CLOSE ALERT
          </ion-button>
        </ion-col>
  
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" fill="outline" color="light" (click)="cancelAlertConfirm()">
            CANCEL ALERT
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
