.alert-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mg-button {
    // position: absolute;
    margin-top: 15vh;
    // padding: 0 5%;
    width: 60%;
    height: 48px;
}

.buttons-container {
    margin-top: 16px;
}