<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>APPLICATION OPTIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="viewReady">

    <ion-item color="primary" lines="none">
      <ion-text class="cool-title">Description</ion-text>
      <ion-icon slot="end" name="book" color="light"></ion-icon>
    </ion-item>
  
    <div class="cool-input-container">
      <ion-textarea 
      placeholder="Write Description"
      class="cool-text" 
      style="white-space: pre-wrap;"
      [(ngModel)]="appConfiguration.description"
      style="height: 15vh;"></ion-textarea>
    </div>
    <br>
  
    <ion-item color="primary" lines="none">
      <ion-text class="cool-title">Address</ion-text>
      <ion-icon slot="end" name="home" color="light"></ion-icon>
    </ion-item>
  
    <div class="cool-input-container">
      <ion-textarea 
      placeholder="Write Address"
      class="cool-text" 
      style="white-space: pre-wrap;"
      [(ngModel)]="appConfiguration.address"
      style="height: 10vh;"></ion-textarea>
    </div>
    <br>
   
    <ion-item color="primary" lines="none">
      <ion-text class="cool-title">Phones</ion-text>
      <ion-icon slot="end" name="call" color="light"></ion-icon>
    </ion-item>
    
    <ion-item color="primary" lines="none" style="position: relative; padding: 8px;">
      <ion-input class="ion-text-capitalize" type="text" placeholder="Write Phone" [(ngModel)]="phone"></ion-input>
  
      <div style="position: absolute; right: 8px; z-index: 1000;">
        <icon-button 
          name="add" 
          color="secondary" 
          iconColor="light" 
          size="40px"
          iconSize="24px"
          [disabled]="phone === ''" 
          (pressed)="addPhone()"></icon-button>
      </div>
    </ion-item>
  
    <div *ngIf="appConfiguration.phones">
      <ion-item color="primary" *ngFor="let phone of appConfiguration.phones" style="position: relative;">
        <ion-text class="ion-text-capitalize cool-text">{{phone.number}}</ion-text>    
        
        <div style="position: absolute; right: 8px; z-index: 1000;">
          <icon-button 
            name="remove" 
            color="primary" 
            iconColor="light" 
            size="40px"
            iconSize="24px"
            (pressed)="removePhone(phone.number)"></icon-button>
        </div>
      </ion-item>
    </div>
    <br>
    
    <ion-item color="primary" lines="none">
      <ion-text class="cool-title">Users</ion-text>
      <ion-icon slot="end" name="person" color="light"></ion-icon>
    </ion-item>
  
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" fill="outline" shape="round" color="light" routerLink="/tabs/account/options/users">
            EDIT USERS
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="updateAppConfiguration()">
            SAVE CHANGES
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </div>

</ion-content>
