<div style="padding: 8px;">
  <div class="searchbar-container">
    <ion-searchbar 
    [(ngModel)]="text"
    class="searchbar" 
    showCancelButton="focus" 
    placeholder="Search" 
    animated cancelButtonIcon="close"
    debounce="25"
    (ionChange)="emit()"></ion-searchbar>
  </div>
</div>