.searchbar {
    --color: var(--ion-color-light);
    --icon-color: var(--ion-color-light);
    --cancel-button-color: var(--ion-color-light);
    --background: var(--ion-color-secondary);
    height: 32px;
    --box-shadow: none;
}

.searchbar-container {
    width: 100%;
    padding: 14px;
    border-radius: 128px;
    background: var(--ion-color-secondary);
}
