/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//General
.fab-button {
    border-width: 3px; 
    border-color: var(--ion-color-secondary);
    border-style: solid; 
    border-radius: 50%;
}

.floating-button {
    position: absolute;
    z-index: 100;
    background-color: var(--ion-color-primary); 
    width: 52px;
    height: 52px;
    top: 90%;
    text-align: center;
}

.image {
    background-color: #fff; 
    width: 100%; height: 120px; 
    object-fit: cover;
}

.slider {
    //background-color: var(--ion-color-primary); 
    --bullet-background: #383a3e; 
    --bullet-background-active: var(--ion-color-secondary); 
    // height: 360px;
}

.cool-card {
    --ion-background-color: var(--ion-color-tertiary);
    border-radius: 12px;
    //border-width: 1px; 
    border-color: var(--ion-color-secondary);
    // border-style: solid;
    box-shadow: none;

    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: var(--ion-color-primary);
    }

    ion-item {
        font-size: 16px;
        color: var(--ion-color-primary);
    }

    ion-label {
        font-size: 16px;
        color: var(--ion-color-primary);
    }

    ion-card-content {
        font-size: 16px;
        color: var(--ion-color-primary);
        //background: var(--ion-color-primary);
    }
}

.cool-secondary-card {
    --ion-background-color: var(--ion-color-secondary);
    border-radius: 12px;
    /*border-width: 1px; 
    border-color: var(--ion-color-primary);
    border-style: solid;*/
    box-shadow: none;

    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: var(--ion-color-primary);
    }

    ion-item {
        font-size: 16px;
        color: var(--ion-color-primary);
    }

    ion-label {
        font-size: 16px;
        color: var(--ion-color-primary);
    }

    ion-card-content {
        font-size: 16px;
        color: var(--ion-color-tertiary);
    }

    .cool-line {
        border-color: var(--ion-color-primary);
    }
}

.sub-card {
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    box-shadow: none;
    color: var(--ion-color-tertiary);
    border-color: var(--ion-color-tertiary);

    .pin {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        left: -5px;
        background-color: var(--ion-color-tertiary);
    }
}

.sub-card-input {
    box-shadow: none; 
    border-width: 1px; 
    border-style: solid;
}

.cool-item {
    --color: #fff; 
    --background: var(--ion-color-tertiary);
    font-size: 16px;
}

.cool-line {
    border-width: 1px; 
    border-style: solid; 
    border-color: var(--ion-color-secondary);
    border-top: transparent;
}

.cool-image {
    --ion-background-color: #fff; 
    border-radius: 0px;
    border-width: 1px; 
    border-color: var(--ion-color-secondary);
    border-style: solid;
}

.full-image {
    width: 100%; 
    object-fit: cover;
}

img {
    display: block;
}

.cool-content { 
    --background: var(--ion-color-primary); 
}

.cool-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    color: var(--ion-color-primary);
}

.cool-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.cool-secondary-title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
}

.cool-text {
    font-size: 16px;
    color: var(--ion-color-primary);
}

.cool-secondary-text {
    font-size: 16px;
    color: var(--ion-color-secondary);
}

.cool-button {
    --background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 90%;
    text-transform: none;
}

.cool-alert {
    --background: var(--ion-color-secondary);
}

.cool-loading {
    --background: var(--ion-color-secondary);
}

.cool-range {
    margin: 0;
    padding: 24px;
    height: 32px;
}

.cool-segment {
    color: #a1a1a1;
}

.datetime-picker {
    background: var(--ion-color-secondary);
    --background-rgb: rgba(.5, .5, .5, 0.25);
    //background-color: var(--ion-color-secondary);
}

//ANIMATIONS -------------------------------------------------
.animate__animated {
    --animate-duration: 600ms;
}

img.ng-lazyloaded {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}