<ion-content class="cool-content">

    <div *ngIf="viewReady">

        <ion-grid style="margin-top: 32px;">
            <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <div class="avatar" style="position: relative;">
                        <img src="../assets/images/login-logo.png">
                    </div>
                </ion-col>
    
                <!-- DESCRIPTION -->
                <ion-col size="12" class="ion-text-center">
                    <br><br>
                    <ion-text class="cool-text">{{getDescription()}}</ion-text>
                </ion-col>
    
                <!-- ADDRESS -->
                <ion-col size="12" class="ion-text-center">
                    <br><br>
                    <ion-text class="cool-text">{{getAddress()}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    
        <!-- SOCIAL NETWORKS -->
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button color="secondary">
                <ion-icon name="share"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="top">
                <ion-fab-button color="secondary" *ngFor="let sn of getSocialNetworks()" (click)="openLink(sn.link)">
                    <ion-icon [name]="sn.icon" color="light"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

        <div style="position: absolute; bottom: 10px; left: 25vw; z-index: 1000;">
            <icon-button name="call" (pressed)="callCustomerServiceConfirm()"></icon-button>
        </div>

        <div style="position: absolute; bottom: 10px; right: 25vw; z-index: 1000;">
            <icon-button name="map" (pressed)="startRoute()"></icon-button>
        </div>
    </div>

</ion-content>