<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>VIEW USER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="viewReady">
    <user-card [user]="user" [callButton]="true"></user-card>
  </div>
 
</ion-content>
