<!-- HEADER -->
<ion-header class="ion-no-border">
  <!-- <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{data.t_Inicio[data.currentTranslation]}}</ion-title>
    <ion-title>INICIAR SESION</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div> -->
  <ion-item lines="none" color="primary"></ion-item>
  <div>
    <div class="floating-button" style="left: 0px; border-bottom-right-radius: 24px;">
      <ion-menu-button color="light" shape="round" fill="clear"></ion-menu-button>
    </div>
  </div>
</ion-header>

<ion-content class="cool-content"> 

  <ion-grid class="grid" style="height: 100%;">
    <form style="height: 100%;">
      <ion-row class="ion-align-items-center"  style="height: 100%;">

        <!-- LOGIN -->
        <ion-col size="12" *ngIf="selectedTab === 'login'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/login-logo.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="color: white; font-size: 32px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Iniciar Sesion
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInRight input">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="login()">Entrar</ion-button>
          </div>
        </ion-col>

        <!-- REGISTRO -->
        <ion-col size="12" *ngIf="selectedTab === 'register'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/login-logo.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="color: white; font-size: 32px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Registrarse
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="text" name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInRight input">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="register()">Registrarse</ion-button>
          </div>
        </ion-col>

        <!-- CAMBIAR CONTRASEÑA -->
        <ion-col size="12" *ngIf="selectedTab === 'reset'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/login-logo.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="color: white; font-size: 20px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Cambiar Contraseña
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="sendResetPasswordEmail()">Enviar</ion-button>
          </div>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border footer" style="padding-bottom: 64px;">
  <div class="ion-text-center" *ngIf="selectedTab !== 'register'">
    <ion-text class="cool-text" style="color: white;">No tienes cuenta aun? 
      <a style="color: #ffe22c;" (click)="setTab('register')">Registrarse</a>
    </ion-text>
  </div>

  <div class="ion-text-center" *ngIf="selectedTab !== 'login'">
    <ion-text class="cool-text" style="color: white;">Ya tienes cuenta? 
      <a style="color: #ffe22c;" (click)="setTab('login')">Iniciar Sesion</a>
    </ion-text>
  </div>

  <div class="ion-text-center" *ngIf="selectedTab !== 'reset'">
    <ion-text class="cool-text" style="color: white;">Olvidaste tu contraseña? 
      <a style="color: #ffe22c;" (click)="setTab('reset')">Cambiar Contraseña</a>
    </ion-text>
  </div>
</ion-footer>
