<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeProduct()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <ion-card class="cool-card">
    <div *ngIf="sliderReady">
      <ion-slides pager="true" [options]="slideOpts" class="slider">
        <ion-slide *ngFor="let image of product.images">
          <img [src]="image" class="full-image">
        </ion-slide>
      </ion-slides>
    </div>

    <ion-item lines="none">
      <ion-text class="ion-text-capitalize cool-title">
        {{product.name}}
      </ion-text>
    </ion-item>

    <div class="cool-line"></div>

    <!-- <div class="ion-padding">
      <ion-chip color="primary" *ngFor="let tag of product.tags;">
        <ion-label color="dark">{{tag}}</ion-label>
      </ion-chip>
    </div> -->

    <ion-card class="cool-card sub-card-input" style="padding: 24px;">

      <ion-toolbar lines="none">
        <div *ngIf="product.category !== '' && product.subcategory !==''">
          <br>
          <ion-text class="cool-text">Categorias:</ion-text> <br>
          <ion-chip color="primary" *ngIf="product.category !== ''">
            <ion-label color="dark">{{product.category}}</ion-label>
          </ion-chip>
          <ion-chip color="primary" *ngIf="product.subcategory !== ''">
            <ion-label color="dark">{{product.subcategory}}</ion-label>
          </ion-chip>
        </div>

        <div class="cool-line" style="margin-top: 24px; margin-bottom: 24px;"></div>

        <ion-text class="cool-text">Descripcion: </ion-text> <br>
        <ion-text class="cool-text" style="color: black;">
          {{product.description}} <br>
        </ion-text>

        <div class="cool-line" style="margin-top: 24px; margin-bottom: 24px;"></div>

        <ion-row>
          <ion-col>
            <div class="ion-text-start cool-text">
              <ion-text class="cool-text">Cantidad:</ion-text>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end cool-text">
              <ion-text class="ion-text-right cool-text" style="color: black;">
                {{product.quantity + " " + data.getUnitsText(product)}} <br>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="ion-text-start cool-text">
              <ion-text class="cool-text">Precio:</ion-text>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end cool-text">
              <ion-text *ngIf="product.sale" class="ion-text-right cool-text" style="text-decoration: line-through; color: gray;">
                {{product.price+"  "}}
              </ion-text>
              <ion-text class="ion-text-right cool-text" style="color: black;">
                {{data.getProductPrice(product)}} € <br><br>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>

    </ion-card>

    <div>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="product-button" shape="round" fill="outline" lines="none" (click)="addToCart(product)">
              <ion-text class="ion-text-left" style="margin-right: auto;">Añadir al carrito</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
