<ion-grid class="grid">
  <ion-row class="ion-align-items-center">

    <div class="text" *ngIf="showText()">
      <div>
        <ion-text class="cool-title">{{title}}</ion-text>
      </div>
      <br>
      <div>
        <ion-text class="cool-text">{{text}}</ion-text>
      </div>
    </div>

    <ion-col class="ion-text-center" size="12" *ngFor="let option of options; index as i">
      <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="selectOption(i)">
        <ion-text>{{option.text}}</ion-text>
        <ion-icon slot="end" [name]="option.icon" color="#fff"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>