.grid {
    background: var(--ion-color-secondary);

    ion-row {
        background: var(--ion-color-secondary);
    }

    ion-column {
        background: var(--ion-color-secondary);
    }
}

.text {
    padding: 24px 20px;
}