.logo {
    position: absolute;
    left: 20%;
    width: 60%;
    top: -25%;
}

.cool-content {
    --background: linear-gradient(to bottom, #323c5a, #28324d, #1d2740, #131e34, #0a1428);
}

.input {
    color: black;
    //border-color: var(--ion-color-secondary);
    //border-style: solid;
    border-radius: 32px;
    --color: var(--ion-color-tertiary);
    margin-top: 8px;
    margin-bottom: 8px;
}

.grid {
    padding: 10% 10% 0 10%;
}

.footer {
    background-color: var(--ion-color-primary);
}

a {
    color: var(--ion-color-tertiary);
}