<ion-content class="cool-content"> 
  
  <ion-grid class="grid" style="height: 100%;">
    <form style="height: 100%;">
      <ion-row class="ion-align-items-center"  style="height: 100%;">

        <!-- LOGIN -->
        <ion-col size="12" *ngIf="selectedTab === 'login'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/login-logo.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="font-size: 32px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Log In
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInRight input">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="logIn()">Enter</ion-button>
          </div>
        </ion-col>

        <!-- REGISTRO -->
        <ion-col size="12" *ngIf="selectedTab === 'register'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/logo-dark.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="color: white; font-size: 32px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Register
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="text" name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInRight input">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="register()">Register</ion-button>
          </div>
        </ion-col>

        <!-- CAMBIAR CONTRASEÑA -->
        <ion-col size="12" *ngIf="selectedTab === 'reset'">
          <div class="ion-text-center" style="margin-bottom: 48px;">
            <img src="../assets/images/logo-dark.png" style="width: 220px; display: inline;">
          </div>

          <div class="ion-text-center">
            <ion-title 
            class="cool-title" 
            style="font-size: 20px; display: block; margin-top: 8px; margin-bottom: 8px;">
              Change Password
            </ion-title>
          </div>

          <ion-item lines="none" class="animate__animated animate__fadeInLeft input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

          <div 
          class="animate__animated animate__fadeInLeft ion-text-center" 
          style="padding: 0 25% 0 25%; margin-top: 8px; margin-bottom: 48px;">
            <ion-button class="cool-button" fill="outline" shape="round" color="light" (click)="sendResetPasswordEmail()">Send</ion-button>
          </div>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border footer" style="padding-bottom: 64px;">
  <div class="ion-text-center" *ngIf="selectedTab !== 'register'">
    <ion-text class="cool-text">You do not have an account? 
      <a (click)="setTab('register')">Register</a>
    </ion-text>
  </div>

  <div class="ion-text-center" *ngIf="selectedTab !== 'login'">
    <ion-text class="cool-text">Do you have an account? 
      <a (click)="setTab('login')">Log In</a>
    </ion-text>
  </div>

  <div class="ion-text-center" *ngIf="selectedTab !== 'reset'">
    <ion-text class="cool-text">Forgot password? 
      <a (click)="setTab('reset')">Change Password</a>
    </ion-text>
  </div>
</ion-footer>
