<ion-grid class="grid">
  <ion-row class="ion-align-items-center">

    <div class="text" *ngIf="showText()">
      <div>
        <ion-text class="cool-title">{{title}}</ion-text>
      </div>
      <br>
      <div>
        <ion-text class="cool-text">{{text+" "+secondsText}}</ion-text>
      </div>
    </div>

    <!-- <ion-col class="ion-text-center" size="12">
      <ion-text class="cool-title">{{seconds}}</ion-text>
    </ion-col> -->
  </ion-row>
</ion-grid>