.sort-container {
    position: relative; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.loading-spinner {
    --color: white;
}

.alert-level {
    position: absolute; 
    right: 16px; 
    top: calc(50%-8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 1000;
}