<ion-content class="cool-content">

  <!-- SEARCHBAR -->
  <br>
  <searchbar [text]="searchbar" (textChanged)="search($event)"></searchbar>

  <!-- SORTING -->
  <div class="sort-container" color="primary">
    <ion-text class="ion-text-nowrap cool-text" style="display: inline-block;">ORDERED BY:</ion-text>

    <div class="cool-line" style="margin: 0 8px; width: 100%;"></div>

    <div class="ion-text-uppercase" style="display: flex;" (click)="toggleSorting()">
      <ion-text class="ion-text-nowrap cool-text">{{getSortingText()}}</ion-text>
      <ion-icon name="chevron-down" color="light"></ion-icon>
    </div>
  </div>

  <!-- FILTER -->
  <div class="sort-container" color="primary">
    <ion-text class="ion-text-nowrap cool-text" style="display: inline-block;">FILTER BY:</ion-text>

    <div class="cool-line" style="margin: 0 8px; width: 100%;"></div>

    <div class="ion-text-uppercase" style="display: flex;" (click)="toggleFilter()">
      <ion-text class="ion-text-nowrap cool-text">{{getFilterText()}}</ion-text>
      <ion-icon name="chevron-down" color="light"></ion-icon>
    </div>
  </div>

  <!-- ALERTS -->
  <div *ngIf="viewReady">
    <ion-card *ngFor="let alert of searchAlerts()" class="cool-card" (click)="viewAlert(alert)">
      <ion-item color="secondary" style="position: relative;">
        <ion-avatar slot="start">
          <img [src]="getUserImage(alert.user)" alt="Profile Pic">
        </ion-avatar>
        <ion-text class="cool-text">
          Email: {{alert.user.email}}
        </ion-text>

        <div *ngIf="alert.level === 1" class="alert-level" style="background-color: orange;"></div>
        <div *ngIf="alert.level === 2" class="alert-level" style="background-color: orangered;"></div>
      </ion-item>
  
      <ion-item color="secondary">
        <ion-icon name="alert-circle" slot="start" color="light"></ion-icon>
        <ion-text class="cool-text">
          Alert Id: {{alert.id}}
        </ion-text>
      </ion-item>
  
      <ion-item *ngIf="user.location" color="secondary">
        <ion-icon name="car" slot="start" color="light"></ion-icon>
        <ion-text class="cool-text">
          Distance: {{getAlertDistance(alert)}}
        </ion-text>
      </ion-item>

      <ion-item color="secondary">
        <ion-icon name="alarm" slot="start" color="light"></ion-icon>
        <ion-text class="cool-text">
          {{getDateText(alert)}}
        </ion-text>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="0" (ionInfinite)="loadData($event)" style="padding-bottom: 10vh;">
      <ion-infinite-scroll-content class="loading-spinner" loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div *ngIf="allAlertsLoaded" 
    style="width: 100%; position: relative; height: 48px;">
        <div style="position: absolute; left: calc(50% - 24px)">
            <icon-button name="arrow-up" (pressed)="scrollToTop()"></icon-button>
        </div>
    </div>
  </div>

</ion-content>
