<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CARRITO</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <ion-card class="cool-card">

    <ion-item color="tertiary" lines="none">
      <ion-title class="cool-title">Productos Añadidos</ion-title>
      <ion-icon slot="end" name="basket" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>

    <div *ngIf="data.isOrderEmpty(data.cart)">
      <ion-item color="tertiary" lines="none">
        <ion-text class="cool-text">No has añadido ningun producto</ion-text>
      </ion-item>
    </div>

    <div *ngIf="!data.isOrderEmpty(data.cart)">
      <ion-grid>
        <div *ngFor="let op of data.cart.products">
          <ion-row class="ion-align-items-center" style="padding-top: 8px; padding-bottom: 8px;">
            <ion-col size="3" (click)="openProduct(op.product)">
              <img defaultImage="../assets/images/loading.gif" [lazyLoad]="op.product.images[0]" class="full-image" style="border-radius: 8px;">
            </ion-col>
            <ion-col size="9">
              <div>
                <ion-toolbar lines="none">
                  <ion-text class="ion-text-capitalize cool-text">
                    {{op.product.name}} <br>
                  </ion-text>
                  <ion-text class="ion-text-capitalize cool-text">
                    {{data.getProductPrice(op.product)}} € <br>
                  </ion-text>
                  <ion-text class="cool-text" style="color: black;">
                    {{op.product.quantity + " " + data.getUnitsText(op.product)}} <br>
                  </ion-text>
                  <ion-text class="cool-text" style="color: black;">
                    Cantidad: {{op.quantity}} <br>
                  </ion-text>

                  <ion-icon class="quantity-button" color="primary" style="right: 12px;" name="remove" (click)="data.subtractQuantityFromCart(op)"></ion-icon>
                  <ion-icon class="quantity-button" color="primary" style="right: 52px;" name="add" (click)="data.addQuantityToCart(op)"></ion-icon>
                </ion-toolbar>
              </div>
            </ion-col>
          </ion-row>
          <div class="cool-line"></div>
        </div>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-card class="cool-card sub-card-input">
              <ion-title class="cool-title">Total: {{data.getOrderPrice(data.cart)}} €</ion-title>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button shape="round" fill="outline" lines="none" routerLink="/menu/checkout">
              <ion-text>Guardar Pedido</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
