<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>USER LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">
  <div *ngIf="viewReady">
    <!-- SEARCHBAR -->
    <br>
    <searchbar [text]="searchbar" (textChanged)="search($event)"></searchbar>
  
    <!-- SORTING -->
    <div class="sort-container">
      <ion-text class="ion-text-nowrap cool-text" style="display: inline-block;">ORDERED BY:</ion-text>
  
      <div class="cool-line" style="margin: 0 8px; width: 100%;"></div>
  
      <div class="ion-text-uppercase" style="display: flex;" (click)="toggleSorting()">
        <ion-text class="ion-text-nowrap ion-text-uppercase cool-text">{{getSortingText()}}</ion-text>
        <ion-icon name="chevron-down" color="light"></ion-icon>
      </div>
      <br>
    </div>

    <div class="sort-container">
      <ion-text class="ion-text-nowrap cool-text" style="display: inline-block;">FILTER BY ROLE:</ion-text>
  
      <div class="cool-line" style="margin: 0 8px; width: 100%;"></div>
  
      <div class="ion-text-uppercase" style="display: flex;" (click)="toggleFilter()">
        <ion-text class="ion-text-nowrap ion-text-uppercase cool-text">{{getFilterText()}}</ion-text>
        <ion-icon name="chevron-down" color="light"></ion-icon>
      </div>
    </div>

    <div *ngFor="let user of searchUsers()" (click)="viewUser(user)">
      <ion-item lines="none" color="primary">
        <ion-avatar slot="start">
          <img defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage(user)">
        </ion-avatar>

        <ion-text class="cool-text">
          {{user.email}} ({{user.username}})
        </ion-text>
      </ion-item>

      <div class="cool-line"></div>
    </div>

  </div>
</ion-content>
