<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="isNewRequest()"> 
      <ion-title>REQUEST APPOINTMENT</ion-title>
    </div>
    <div *ngIf="!isNewRequest()">
      <ion-title>MODIFY APPOINTMENT</ion-title>
    </div>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- SELECCION DE FECHA -->
  <ion-item lines="none" color="primary">
    <ion-title class="cool-title">Select Date</ion-title>
    <ion-icon slot="end" name="calendar" color="secondary"></ion-icon>
  </ion-item>

  <div class="cool-line"></div>

  <ion-card class="cool-card">
    <ion-item lines="none" color="primary">
      <ion-label class="date-title ion-text-center">Choose Day</ion-label>
    </ion-item>

    <ion-grid class="grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button date-button" shape="round" color="secondary">
            <ion-datetime slot="end" class="cool-picker"
              [ngModel]="fecha.toISOString()"
              [pickerOptions]="pickerStyle"
              display-format="DDDD DD / MMMM / YYYY"
              [min]="minDate.toISOString()"
              [max]="maxDate.toISOString()"
              (ionChange)="setDay($event)"></ion-datetime>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none" color="primary">
      <ion-label class="date-title ion-text-center">Choose Hour</ion-label>
    </ion-item>

    <ion-grid class="grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button date-button" shape="round" color="secondary">
            <ion-datetime slot="end"
            [ngModel]="hora.toISOString()"
            display-format="hh : mm a"
            minuteValues="[0,10,20,30,40,50]"
            (ionChange)="setHour($event)"></ion-datetime>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-icon slot="start" name="sync" color="#fff"></ion-icon>
      <ion-text >Flextime (Optional)</ion-text>
      <ion-toggle [(ngModel)]="horarioFlexible" slot="end" color="secondary"></ion-toggle>
    </ion-item>

    <ion-card class="cool-card sub-card" [disabled]="!horarioFlexible">

      <div class="pin" style="top: -5px;"></div>

      <ion-item lines="none">
        <ion-icon slot="start" name="swap-horizontal" color="#fff"></ion-icon>
        <ion-text >Time Range</ion-text>
        <ion-buttons slot="end">
          <ion-button (click)="showInfo('Choose the range before and after the chosen time that you are available.')">
            <ion-icon slot="icon-only" name='information-circle' color='light' style="font-size: 25px;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-range 
        class="range" 
        dualKnobs="true" 
        min="-8" max="8" 
        step="1" 
        snaps="true" 
        pin="true" 
        [value]="{lower: rangeLower, upper: rangeUpper}" 
        (ionChange)="rangeChange($event)"
        color="secondary">
      </ion-range>
  
      <ion-item lines="none">
        <ion-icon slot="start" name="chatbox" color="#fff"></ion-icon>
        <ion-text >Service</ion-text>
        <ion-buttons slot="end">
          <ion-button (click)="showInfo('Indicate the service you want to easily schedule your appointment.')">
            <ion-icon slot="icon-only" name='information-circle' color='light' style="font-size: 25px;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  
      <ion-card class="cool-card" style="border-radius: 8px;">
        <ion-textarea placeholder="Undefined" class="message" [(ngModel)]="mensaje"></ion-textarea>
      </ion-card>

      <div class="pin" style="bottom: -5px;"></div>

    </ion-card>
  </ion-card>

  <ion-grid class="grid">

    <div *ngIf="isNewRequest()">
      <!-- BOTONES CREAR -->
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="evaluateCreate()">
            Create Request
            <ion-icon slot="end" name="share" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    
    <div *ngIf="!isNewRequest()">
      <!-- BOTONES ADMIN UPDATE -->
      <ion-row class="ion-align-items-center" *ngIf="userData.admin">
        <ion-col class="ion-text-center" size="12">
          <ion-toolbar color="primary">
            <ion-buttons slot="end">
              <ion-button class="admin-button" shape="round" color="success" (click)="updateRequest(1)">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
              <ion-button class="admin-button" shape="round" color="danger" (click)="rejectConfirm()">
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <ion-button class="admin-button" shape="round" color="secondary" (click)="deleteConfirm()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <!-- BOTONES USUARIO UPDATE -->
      <ion-row class="ion-align-items-center" *ngIf="!userData.admin">
        <ion-col size="6">
          <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="deleteConfirm()">
            Delete
            <ion-icon slot="end" name="trash" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
        
        <ion-col size="6">
          <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="updateRequest(0)">
            Update
            <ion-icon slot="end" name="save" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    
  </ion-grid>

</ion-content>
