<ion-grid style="margin-top: 32px;">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <div class="avatar" style="position: relative;"
      [style.width]="getImageSize()"
      [style.height]="getImageSize()">
        <!-- <img defaultImage="../assets/images/loading.gif" [lazyLoad]="getUserImage()"> -->
        <img class="avatar-image" [style.width]="getImageSize()" [style.height]="getImageSize()" [src]="getUserImage()">
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 

<!-- USER TITLES -->
<div *ngIf="hasTitles()">
  <ion-item color="primary" lines="none">
    <ion-chip *ngFor="let title of user.titles" outline="true" color="light">{{title}}</ion-chip>
  </ion-item>
</div>

<!-- DESCRIPTION -->
<div *ngIf="hasDescription()">
  <div class="cool-border">
    <ion-text class="cool-text">{{user.description}}</ion-text>
  </div>
</div>

<!-- USERNAME -->
<div *ngIf="user.username !== ''">
  <ion-item color="primary" lines="none">
    <ion-icon slot="start" name="person" color="light"></ion-icon>
    <ion-text class="cool-text">{{user.username}}</ion-text>
  </ion-item>
  
  <div class="cool-line"></div>
</div>

<!-- EMAIL -->
<div *ngIf="user.email !== '' && !hideEmail">
  <ion-item color="primary" lines="none">
    <ion-icon slot="start" name="mail" color="light"></ion-icon>
    <ion-text class="cool-text">{{user.email}}</ion-text>
  </ion-item>
  
  <div class="cool-line"></div>
</div>

<!-- PHONE -->
<div *ngIf="user.phone !== '' && !hidePhone">
  <ion-item color="primary" lines="none">
    <ion-icon slot="start" name="call" color="light"></ion-icon>
    <ion-text class="cool-text">{{user.phone}}</ion-text>
    <ion-icon *ngIf="callButton" slot="end" name="call" color="tertiary" (click)="callUserConfirm()"></ion-icon>
  </ion-item>
  
  <div class="cool-line"></div>
</div>

<!-- ROLE -->
<div>
  <ion-item color="primary" lines="none">
    <ion-icon slot="start" name="flame" color="light"></ion-icon>
    <ion-text class="cool-text">{{'Role: '+ getRoleText()}}</ion-text>
  </ion-item>
  
  <div class="cool-line"></div>
</div>