.grid {
    padding: 10% 10% 0 10%;
}

.avatar {
    margin-left: auto; 
    margin-right: auto; 
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
}