<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>PRODUCTOS</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu/cart" color="light">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="viewReady">

    <!-- SEARCHBAR -->
    <searchbar [text]="searchbar" (textChanged)="search($event)"></searchbar>

    <!-- CATEGORIES -->
    <ion-grid>
      <ion-row class="animate__animated animate__fadeInLeft">
        <ion-col size="12">
          <ion-card 
          class="category-bar" 
          button 
          (click)="selectCategory()">
            <ion-text>{{getCategoryText()}}</ion-text>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="animate__animated animate__fadeInLeft" *ngIf="isCategoryActivated()">
        <ion-col size="12">
          <ion-card 
          class="category-bar" 
          button 
          (click)="selectSubcategory()" 
          [disabled]="!isCategoryActivated()">
            <ion-text>{{getSubcategoryText()}}</ion-text>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="animate__animated animate__fadeInRight" *ngIf="isAdmin()" (click)="createProduct()">
        <ion-col size="12">
          <ion-card class="category-bar" button>
            <ion-text>Crear Producto</ion-text>
            <ion-icon style="position: absolute; right: 5%; font-size: 24px; color: white;" name="add"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- PRODUCTS -->
    <ion-grid class="products-grid">
      <ion-row class="ion-align-items-stretch">

        <ion-col size="6" class="ion-text-center align-self-stretch product-col" *ngFor="let product of filteredProducts(); index as i">
          <ion-card 
          class="cool-card" 
          [class.featured-product]="product.featured" 
          [class.sale-product]="product.sale"
          style="border-top-left-radius: 0px;">
            <div 
            *ngIf="product.sale"
            style="position: absolute; left: 0px; top: 0px; width: 50px; height: 35px; padding-left: 8px; background: crimson;">
              <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                  <ion-text class="cool-text" style="color: white;">{{getProductSalePercentage(product)}}%</ion-text>
                </ion-col>
              </ion-row>
            </div>

            <div>
              <img defaultImage="../assets/images/loading.gif" [lazyLoad]="product.images[0]" class="full-image" (click)="openProduct(product)">
            </div>

            <div *ngIf="product.featured">
              <ion-text class="cool-text" style="display: block; font-size: 12px; color: orangered;">DESTACADO</ion-text>
            </div>

            <div class="cool-line"></div>

            <!-- <ion-chip color="primary" *ngFor="let tag of product.tags;">
              <ion-label color="dark">{{tag}}</ion-label>
            </ion-chip> -->

            <ion-toolbar lines="none">
              <div *ngIf="product.category !== '' && product.subcategory !==''"
              style="padding-top: 4px; padding-bottom: 4px;"
              button
              (click)="setCategories(product.category, product.subcategory)">
                <ion-text 
                class="ion-text-capitalize cool-text"
                style="color: black;">
                  {{product.category}}
                </ion-text>
                <ion-text 
                *ngIf="product.subcategory !== ''"
                class="ion-text-capitalize cool-text"
                style="color: black;">
                  {{" > "+product.subcategory}}
                </ion-text>
              </div>
              <div class="cool-line" style="margin-bottom: 8px;"></div>

              <ion-text class="ion-text-capitalize cool-text">
                {{product.name}} <br>
              </ion-text> 
              <ion-text class="cool-text" style="color: black;">
                {{product.quantity + " " + getUnitsText(product)}} <br>
              </ion-text>
              <ion-text *ngIf="product.sale" class="ion-text-capitalize cool-text" style="text-decoration: line-through; color: gray;">
                {{product.price+"  "}}
              </ion-text>
              <ion-text class="ion-text-capitalize cool-text">
                {{getProductPrice(product)}} €
              </ion-text>
            </ion-toolbar>

            <div style="height: 64px;"></div>
            <div style="position: absolute; bottom: 8px; left: 4%; width: 90%;">
              <ion-button class="product-button" shape="round" fill="outline" lines="none" (click)="addToCart(product)">
                <ion-text class="ion-text-left" style="margin-right: auto;">Añadir</ion-text>
                <ion-icon name="cart" slot="end" color="primary"></ion-icon>
              </ion-button>
            </div>

            <ion-buttons 
            *ngIf="isAdmin()"
            style="position: absolute; top: 0px; right: 0px;">
              <ion-button
              shape="round" 
              fill="clear" 
              lines="none" 
              color="primary" 
              (click)="productOptions($event, product)">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-buttons>
            
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll id="infiniteScroll" threshold="60px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content class="loading-spinner" loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div 
    class="animate__animated animate__fadeInUp ion-text-center" 
    style="padding: 0 25% 0 25%; margin-top: 16px; margin-bottom: 32px;"
    *ngIf="allDataLoaded">
      <ion-button class="cool-button" shape="round" color="secondary" (click)="scrollToTop()">
        Ir al Inicio
        <ion-icon slot="end" name="arrow-up"></ion-icon>
      </ion-button>
    </div>
    
  </div>

</ion-content>
