<ion-button class="icon-button"
[style.width]="getSize()"
[style.height]="getSize()"
[color]="getColor()" 
size="small"
shape="round"
[disabled]="disabled"
(click)="emit()">
  <ion-icon 
  [style.fontSize]="getIconSize()"
  slot="icon-only" 
  [name]="getIconName()" 
  [color]="getIconColor()"></ion-icon>
</ion-button>