.progress-svg {
    transform: rotate(90deg);
}

.progress-meter {
    fill: none;
    stroke-width: 2px;
    // stroke: transparent;
    stroke: var(--ion-color-danger);
}

.progress-value {
    fill: none;
    stroke: var(--ion-color-light);
    stroke-width: 10px;
    transition: all;
    //transition: stroke-dashoffset 0.2s;
}

.progress-button {
    fill: var(--ion-color-primary);
}

.button-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.text-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 512px;
}

.button-text {
    text-justify: center;
    text-shadow: 1px 1px 1px white;
    color: red;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}