<div 
  [style.width]="size+'px'" 
  [style.height]="size+'px'" 
  style="position: relative;">
  <svg 
    [style.width]="size" 
    [style.height]="size" 
    class="progress-svg">

    <circle
      [attr.r]="radius"
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      class="progress-meter"/>

    <circle
      [style.strokeDasharray]="circumference"
      [style.strokeDashoffset]="dashoffset"
      [attr.r]="radius"
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      class="progress-value"/>

    <circle
      [attr.r]="getButtonRadius()"
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      class="progress-button"/>
  </svg>

  <div class="button-container">
    <div id="alert-button" class="text-container"
      (touchstart)="startCount()" (touchend)="endCount()" (touchmove)="isTouching($event)">
        <!-- <ion-text 
          class="cool-title button-text noselect"
          [style.fontSize]="textSize+'px'">{{text}}</ion-text> -->
          <img src="../assets/images/logo-dark.png">
    </div>
  </div>
</div>
